
@responsive {
  .bg-size-cover {
    background-size: cover;
  }

  .bg-size-contain {
    background-size: contain;
  }

  .bg-repeat {
    background-repeat: repeat;
  }

  .bg-repeat-x {
    background-repeat: repeat-x;
  }

  .bg-repeat-y {
    background-repeat: repeat-y;
  }

  .bg-repeat-none {
    background-repeat: no-repeat;
  }

  .background-pos-center {
    background-position: 50% 50%;
  }

  .background-pos-top-left {
    background-position: 0 0;
  }
}
