.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@media (--xs) {
  .xs-hide { display: none; }
}

@media (--sm) {
  .sm-hide { display: none; }
}

@media (--md) {
  .md-hide { display: none; }
}

@media (--lg) {
  .lg-hide { display: none; }
}

@responsive {
  .display-none { display: none; }
}

